[Desktop Entry]
Comment=sshtunnel
Exec=python3 /opt/sshtunnel/SSHTunnel.py
GenericName[en_US]=sshtunnel
GenericName=sshtunnel
Icon=sshtunnel.png
Name[en_US]=sshtunnel
Name=sshtunnel
Categories=Utility
StartupNotify=false
Terminal=true
Type=Application
